@media (min-width: 1920px){
	.container {
		width: 60dvw;
		height: 100%;
		max-width: 100%;
		margin: 0 auto;
	}

	.hero{
		width: 100dvw;
		height: 100dvh;
		background-image: url("../../img/hero_back.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.hero__styles{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: end;
	}

	.hero__header{
		width: 100%;
		height: 10%;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.hero__header_logo{
			width: 25%;
			height: auto;
			svg{
				width: 100%;
				height: auto;
			}
		}

		ul {
			width: 30%;
			height: auto;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			list-style-type: none;
			cursor: pointer;
		}
		li {
      width: 10%;
      height: auto;
			transition: 0.5s;
			&:hover {
				transform: scale(1.1);
				transition: 0.5s;
			}
			svg{
				width: 100%;
				height: auto;
			}
		}
	}
	.hero__block{
		width: 50%;
		height: 30%;

		background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22624%22%20height%3D%22369%22%20viewBox%3D%220%200%20624%20369%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M624%200H49L0%2050V369H574L624%20319V0Z%22%20fill%3D%22%23F8F200%22%2F%3E%0A%3C%2Fsvg%3E%0A");
		background-repeat: no-repeat;
		background-size: contain;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		box-sizing: border-box;
		padding: 8rem;

		h2{
			height: 50%;
			font-size: 2dvw;
		}

		a{
			width: 50%;
			height: 40%;
			font-size: 1dvw;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			color: #F8F200;
			font-weight: 600;
			padding: 3%;
			box-sizing: border-box;
			background-color: black;
			border: 2px solid black;
			transition: 0.5s;

			&:hover{
				background-color: transparent;
				color: black;
				transition: 0.5s;
			}
		}
	}
}














.file-upload {
    position: relative;
    width: 500px;
    height: 150px;
    border: 2px dashed #888;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #000;
    cursor: pointer;
  }

  .file-upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .file-upload p {
    margin: 0;
    text-align: center;
    pointer-events: none;
  }

  .file-upload p span {
    display: block;
    font-size: 14px;
    color: #aaa;
  }